a {
  font-family: arial;
}

link, vlink, alink {
  color: #CC9999;
}

body {
  font-family: Arial;
  font-size: 11px;
  color: #CC9999;
  line-height: 1px;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
